cellpose[gui]
napari[all]==0.6.6
napari-animation
napari-assistant
napari-clusters-plotter
napari-feature-classifier
napari-features
napari-plot-profile
napari-pyclesperanto-assistant
napari-script-editor
napari-simpleitk-image-processing
napari-skimage-regionprops
siphash24
pyclesperanto_prototype
pyopencl
typing_extensions
stardist-napari
napari-trackastra
empanada-napari
pip uninstall PyQt5
